
<div data-ng-model="isGeneratingPdf" data-ng-init="true">
     <div class="em-loader-overlay" data-ng-class="{'em-loader-overlay': isGeneratingPdf === true || ac.loading.isAnythingLoading()}">

        <!-- Export content -->
        <div id="export-content"
             pb-export-html data-file-name="{{ac.assessment.name.split(' ').join('') + '_Results'}}.pdf"
             ready-to-download="!ac.loading.loaders.gettingData" is-loading="isGeneratingPdf">

            <div class="em-u-padding-double">
                <div class="em-u-margin-bottom">
                    <h1>Review Assessment</h1>
                    <h2>{{ac.assessment.name}}</h2>
                </div>

                <div ng-class="{'invisible': ac.loading.loaders.gettingData === true}">

                    <!-- Overview -->
                    <div ng-include="'app/assessment/partials/review.overview.html'"></div>

                    <!-- Radar chart / In Progress message -->
                    <div ng-include="'app/assessment/partials/review.radar.html'"></div>

                    <!-- Details -->
                    <div class="em-c-solid-card em-c-solid-card--compact em-c-solid-card--with-icon full-width-card em-u-margin-bottom-double">
                        <div class="em-c-solid-card__body em-u-display-inline-block">
                            <div class="float-left">
                                <span class="fa fa-2x fa-list"></span>
                                <h3 class="em-c-solid-card__title float-right">
                                    <span>Responses</span>
                                </h3>
                            </div>
                            <div class="float-right">
                            </div>
                        </div>
                        <div class="em-c-solid-card__footer">
                            <div class="em-u-margin-top-double" data-ng-repeat="category in ac.current.questionResponsesByCategory">
                                <div ng-include="'app/assessment/partials/review.details.html'"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Loading message, not part of export -->
    <em-loader data-ng-show="isGeneratingPdf === true || ac.loading.isAnythingLoading()"
               style="position:absolute; top:50%; left: 50%;"
               class="center"></em-loader>
</div>
