main,
ng-view,
.em-l-container {
    height: 100%;
}

.banner-image {
    height: 35%;
    min-height: 150px;
    overflow: hidden;
}

.banner-image-background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}