<div class="em-c-modal em-js-modal"
     data-ng-class="{'em-is-closed': isOpen === false}">
    <div class="em-c-modal__window em-js-modal-window">
        <div class="em-c-modal__header">
            <h3 class="em-c-modal__title">{{title}}</h3>
            <button class="em-c-btn em-c-btn--bare em-c-modal__close-btn em-js-modal-close-trigger"
                    data-ng-click="close()">
                <div class="em-c-btn__inner">
                    <svg class="em-c-btn__icon " data-em-icon-path="../../images/em-icons.svg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/em-icons.svg#icon-x"></use>
                    </svg>
                </div>
            </button>
        </div>
        <div class="em-c-modal__body em-c-text-passage em-c-text-passage--small">
            {{body}}
        </div>
        <div class="em-c-modal__footer em-c-text-passage em-c-text-passage--small">
            <div class="em-c-btn-group em-c-modal--alert em-js-modal-only">
                <button class="em-c-btn em-c-btn--primary em-js-modal-confirm-trigger"
                        data-ng-click="ok()">
                    <span class="em-c-btn__text">OK</span>
                </button>
            </div>
        </div>
    </div>
</div>