<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--Name of application for logging purposes-->
    <add key="AppName" value="XOM.Galileo.WebAPI" />
    <!--
      MigrateDatabaseOnContextInitialization: When set to true,
      will execute outstanding migrations on the database identified
      by the ChemAppsDataContext value.

      !!! Use caution setting to true outside local dev!!!
    -->
    <add key="MigrateDatabaseOnContextInitialization" value="true" />
    <!--
      SeedDebugEnabled: When set to true, a debugger will be
      attached during the data seeding process to assist
      with troubleshooting of the operation.

      !!! Use caution setting to true outside local dev!!!
    -->
    <add key="SeedDebugEnabled" value="false" />
    <!-- S
      IsProduction: When set to true, migrations will consider
      the current environment as production and only execute seeding
      operations appropriate for a production environment.
    -->
    <add key="EnvironmentIsProduction" value="false" />
    <!--
      VerboseValidationErrorsEnabled: When set to true, errors
      encountered during validation are expanded so as to
      display verbose error detail including the source of the
      exception, the type of validation failure encountered,
      and reason for failure.
    -->
    <add key="VerboseValidationErrorsEnabled" value="true" />
    <!--*********************************************-->
    <!-- Security Settings                           -->
    <!--*********************************************-->
    <!--
        EnableAutomaticUserCreation: When set to true the
        service will automatically create a new application
        user when a user browses the site for the first time.
        The user will also be setup with default credentials
        based on AD group membership.
      -->
    <add key="EnableAutomaticUserCreation" value="true" />
    <!--
        ForceUserPrincipalResolution: When set to true, forces
        all user updates to resolve the User Principal
        information from ActiveDirectory for mapped user data
        fields such as Email, UserName, etc.
      -->
    <add key="ForceUserPrincipalResolution" value="true" />
    <!--
        DefaultRoleName: Indicates the default role to add new
        users to when they cannot be resolved to AD group
        membership(s).
      -->
    <add key="DefaultAppRoleName" value="" />
    <!--
        DefaultSiteRoleName: Indicates the default role to add new
        users to when they cannot be resolved to AD group
        membership(s) for site components. If blank, users will
        not be granted role access to the components.
      -->
    <add key="DefaultSiteRoleName" value="" />
    <!--
        DefaultPlantRoleName: Indicates the default role to add new
        users to when they cannot be resolved to AD group
        membership(s) for plant components. If blank, users will
        not be granted role access to the components.
      -->
    <add key="DefaultPlantRoleName" value="" />
    <!--
        DefaultProductionUnitRoleName: Indicates the default role to add new
        users to when they cannot be resolved to AD group
        membership(s) for prod. unit components. If blank, users will
        not be granted role access to the components.
      -->
    <add key="DefaultProductionUnitRoleName" value="" />
    <!--
        DefaultProductionLineRoleName: Indicates the default role to add new
        users to when they cannot be resolved to AD group
        membership(s) for prod. line components. If blank, users will
        not be granted role access to the components.
      -->
    <add key="DefaultProductionLineRoleName" value="" />
    <!--
        AdminGroups: Indicates a group which can be used
        to grant access to application administration functions
        by membership.
      -->
    <add key="AdminGroups" value="SA\3MS.MPM.DEV;NA\IMCA.DEV.UG;" />
    <!--
        ReadOnlyGroups: Indicates a group which can be used
        to grant access to application with read only access
        by membership.
      -->
    <add key="ReadOnlyGroups" value="NA\IMCA.DEV.UG;" />
    <!--
        EditorGroups: Indicates a group which can be used
        to grant access to application editor functions for
        individual components by membership.
      -->
    <add key="EditorGroups" value="SA\3MS.MPM.USR;NA\3MS.MPM.USR;AP\3MS.MPM.USR;EA\3MS.MPM.USR;" />
    <!--
        PreventExceptionLeak: This will prevent exception details
        from being leaked so that people may not see internal details,
        can be false local and dev, but never in production!
      -->
    <add key="PreventExceptionLeak" value="true" />
    <!--
        DefaultContainer: Indicates the default container to
        use for user resolution in active directory.
      -->
    <add key="DefaultDomainContainer" value="DC=XOM,DC=COM" />
    <!--
        DefaultDomainComponent: Indicates the default domain component
        for user resolution in active directory.
      -->
    <add key="DefaultDomainComponent" value="DC=NA" />
    <!--
        DefaultContainer: Indicates the default domain to
        use for user resolution in active directory.
      -->
    <add key="DefaultDomain" value="XOM.COM" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ApplicationContextConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Galileo;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />-->
    <add name="ApplicationContextConnectionString" connectionString="Data Source=ep-db.database.windows.net;Initial Catalog=ep-db-dev;Integrated Security=False;User ID=ep-admin;Password=!password1!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!-- Cors configuration for local debug. -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:15589" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: {0FA69AAA-71D2-4502-BE80-095C478D1B1A}-->